.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgb(89, 150, 132);
    }
  }
}

.iconContainer {
  margin-top: 1rem;
  svg {
    font-size: 1.2rem;
    position: relative;
    margin-right: 0.5rem;
    color: #1da1f2;
  }
}
