footer {
  margin: 1rem auto 0 auto;
}

.icons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  svg {
    font-size: 1.4rem;
    color: rgb(89, 150, 132);
    &:hover {
      transform: rotate(-20deg);
    }
  }
}
